extends layout

block content 

    body
    h1 New Patron
    form( method="POST" action="/patrons" )
      p
        label(for='first_name') First Name
        input#first_name(name="first_name" type='text')
        if(validation.first_name)
          p(class="validation")   First Name is required
      p
        label(for='last_name') Last Name
        input#last_name(name="last_name" type='text')
        if(validation.last_name)
          p(class="validation")   Last Name is required
      p
        label(for='address')  Address
        input#address(name="address" type='text')
        if(validation.address)
          p(class="validation")   Address is required
      p
        label(for='email') Email
        input#email(name="email" type='text')
        if(validation.email)
          p(class="validation")   Email is required
      p
        label(for='library_id') Library ID
        input#library_id(name="library_id" type='text')
        if(validation.library_id)
          p(class="validation")   Library Id is required
      p
        label(for='zip_code') Zip Code
        input#zip_code(name="zip_code" type='text')
        if(validation.zip_code)
          p(class="validation")   Zip Code is required
      p
        input(type='submit', value='Create New Patron')